@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary1: 0 150 136;
    --color-primary2: 128 203 196;
    --color-primary3: 178 223 219;
    --color-primary4: 224 242 241;
    --color-secondary1: 144 164 174;
    --color-secondary2: 176 190 197;
    --color-secondary3: 207 216 220;
    --color-secondary4: 236 239 241;
    --color-text1: 38 50 56;
    --color-text2: 69 90 100;
    --color-text3: 96 125 139;
    --color-text4: 120 144 156;
    --color-background: 255 255 255;
    --color-container: 236 239 241;
    --color-tooltip: 38 50 56;
    --color-avatar: 236 239 241;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary2: 0 121 107;
      --color-primary3: 0 105 92;
      --color-primary4: 0 77 64;
      --color-secondary1: 96 125 139;
      --color-secondary2: 69 90 100;
      --color-secondary3: 55 71 79;
      --color-secondary4: 38 50 56;
      --color-text1: 236 239 241;
      --color-text2: 207 216 220;
      --color-text3: 176 190 197;
      --color-background: 26 34 38;
      --color-container: 17 22 25;
    }
  }
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(var(--color-text1));
  transition: background-color 5000s ease-in-out 0s;
}

::selection {
  background-color: rgb(var(--color-primary3));
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(
    var(--color-secondary4)
  );
  border-radius: 3px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(
    var(--color-secondary4)
  ) rgb(
    var(--color-background)
  );
}

input,
textarea,
select {
  caret-color: rgb(var(--color-text1));
}

#root {
  background-color: rgb(var(--color-background));
}

.h-dialog {
  height: 60vh;
}

.h-panel {
  height: calc(100vh - 4rem);
}

.EmojiPickerReact {
  --epr-hover-bg-color: rgb(var(--color-primary4)) !important;
  --epr-bg-color: rgb(var(--color-background)) !important;
  --epr-category-label-bg-color: rgb(var(--color-background)) !important;
  --epr-text-color: rgb(var(--color-text1)) !important;
  --epr-search-input-bg-color: rgb(var(--color-secondary4)) !important;
  --epr-search-input-placeholder-color: rgb(var(--color-secondary1)) !important;
}

.EmojiPickerReact .epr-search-container input.epr-search {
  border: 1px solid rgb(var(--color-secondary2)) !important;
}

.EmojiPickerReact .epr-search-container input.epr-search:focus {
  border: 2px solid rgb(var(--color-primary1)) !important;
}

.GifPickerReact {
  --gpr-bg-color: rgb(var(--color-background)) !important;
  --gpr-text-color: rgb(var(--color-text1)) !important;
  --gpr-highlight-color: rgb(var(--color-primary1)) !important;
  --gpr-search-input-bg-color: rgb(var(--color-secondary4)) !important;
  --gpr-search-input-placeholder-color: rgb(var(--color-secondary1)) !important;
}

.GifPickerReact .gpr-search-container input.gpr-search {
  border: 1px solid rgb(var(--color-secondary2)) !important;
}

.GifPickerReact .gpr-search-container input.gpr-search:focus {
  border: 2px solid rgb(var(--color-primary1)) !important;
}

.MuiPaper-root {
  background-color: rgb(var(--color-background)) !important;
}

.MuiTypography-root,
.MuiInputBase-root,
.MuiPickersCalendarHeader-root,
.MuiButtonBase-root,
.MuiPickersYear-root,
.MuiPickersMonth-root {
  color: rgb(var(--color-text1)) !important;
}

.Mui-disabled {
  color: rgb(var(--color-text4)) !important;
}
